:root{
  color-scheme: dark;
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Varela+Round&display=swap');

body{
    background-color: #141530;
    font-family: 'Varela Round', sans-serif;
    font-size: 150%;
}

h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo{
    display: block;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    width: 5%;
}

.content {
    background-color: #1C1D42;
    padding: 30px;
    min-height: 120px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
 }

 @media(min-width:800px) {
    .content {
         width: 50%;
         margin: 0 auto;
         margin-top: 30px;
    }
  }
  
  @media(max-width:800px) {
    .content {
      width: 84.5%;
    }
  }

.copybtn{
    background-color: rgb(59, 59, 59);
    border: none;
    padding: 5px 5px;
    border-radius: 20%;
    cursor: pointer;
  }
  .copybtn:active{
  background-color: green;
  }

  .dcbtn {
    background-color: #5865F2;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
  }
  
 .dcbtn:hover {
    background-color: #404EED;
  }