/* Mail */
.btn {
    background-color: #1E90FF;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
  }
  .btn:hover {
    background-color: #217fdd;
  }
  /* GitHub */
  .btn2 {
    background-color: #19253C;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
  }
  
 .btn2:hover {
    background-color: #091020;
  }
  
/* Discord */
  .btn3 {
    background-color: #5865F2;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
  }
  
 .btn3:hover {
    background-color: #404EED;
  }

  /* Twitch */
  .btn4 {
    background-color: #6441a5;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
  }
  
 .btn4:hover {
    background-color: #563a8b;
  }

    /* YouTube */
    .btn5 {
      background-color: #FF0000;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 25px;
    }
    
   .btn5:hover {
      background-color: #be0000;
    }

    /* OnlyFans */
    .btn6 {
      background-color: #1f95b1;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 25px;
    }
    
   .btn6:hover {
      background-color: #1b89a5;
    }

    /* local "Contact" */
    .btn7 {
      background-color: #FF6625;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 25px;
    }
    
   .btn7:hover {
      background-color: #d35621;
      color: black;
    }

        /* gamebanana" */
        .btn8 {
          background-color: #ffde25;
          border: none;
          color: white;
          padding: 12px 30px;
          cursor: pointer;
          font-size: 20px;
          border-radius: 25px;
        }
        
       .btn8:hover {
          background-color: #e6c927;
        }